# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables
.env
.env.*

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Training/dataset artifacts
runs/
dataset/
dataset_real/
ground_truth*
crop_inspect/
all_switch_crops/
